<div class="container">
<div class="row">
  <div>
    <%= image_tag (@post.img.to_s), :class => "view overlay mask flex-center rgba-red-strong" %>
      <div class="text-muted">
        <%= @post.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group mr-2">
          <% if current_user == @post.user %>
            <%= link_to "Delete", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
</div>